html{
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	color: #555;
	font-size: 16px;
}
body{
	margin: 0;
}
h1{
	padding: 0 50px;
}
ul{
	list-style: none;
	padding: 0 50px;
}
a{
	display: block;
	font-size: 18px;
	padding: 10px;
	color: hsla(200, 100%, 50%, 1.0);
	text-decoration: none;
}
a:hover{
	color: hsla(200,100%,40%,1);
	text-decoration: underline;
}