.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}
.img{
    position: absolute;
    width: 100px;
    height: 100px;
}
.img img{
    width: 100%;
    height: 100%;
}