
html,body{
  // font-family:"Droid Sans","Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  font-size: 14px;
  color: #555;
  height: 100%;
  margin: 0;
  padding: 0;
}
p{margin: 0;}
a {
  color: #444;
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.effect-list{
  display: block;
  font-size: 18px;
  // color:hsl(174, 100%, 27%);
  color: #008a7c;;
  line-height: 2;
  text-align: left;
}
.effect-list:hover{
  color: #00665c;
  // color:hsl(174, 100%, 20%);
}
.content{
  position: relative;
  height: 100%;
  min-width: 320px;
  overflow: hidden;
  background-color: #dee5ed;
  // background-color: hsl(213, 30%, 90%)
}

.github{
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}
.header{
  padding: 1px;
  background-color: #008a7c;
  // background-color: hsl(174, 100%, 27%);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}
.header a{
  color: inherit;
}
.header h1{
  font-weight: normal;
  font-size: 24px;
  margin: 10px 0;
}
.main{
  height: calc(100% - 95px);
  overflow-y: auto;
  overflow-x: auto;
  text-align: center;
}
.col-1-3{
  padding: 10px;
}
.title{
  margin: 0;
  letter-spacing: 2px;
  line-height: 2.4;
  text-align:left;
  text-shadow: 0 1px 1px hsla(0,0%,10%,.5);
}
.post-list{
  margin-bottom: 20px;
  box-shadow: 0 6px 20px 0 hsla(0, 0%, 0%, 0.19), 0 8px 17px 0 hsla(0, 0%, 0%, 0.2);
}
.post-list a{
  display: block;
  padding: 12px;
  background-color: #fff;
  text-align: left;
}
.post-list a:hover{
  color: #008a7c;
  // color:hsl(174, 100%, 27%);
  padding-left: 1em;
}

.post-list time{
  display: none;
  color:#aaa;
}
.footer{
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #999;
  border-top:1px solid #eee;
  background-color: #fff;
  z-index: 1;
}

canvas{
  background: #fff;
}